.buttonField {
    z-index: 1;
    position: relative; // For before and after elements

    min-width: 200px;
    min-height: 50px;
    border-radius: 2em;

    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    border: none;
    
    &:focus {
        outline: none;
    }
}