.buttonField {
    z-index: 1;

    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 1.2em;
    border: none;
    border-radius: 1.5em;
    width: 15vw;  
    height: 8vh;
    min-width: 300px;
    min-height: 50px;
    
    &:focus {
        outline: none;
    }
}