.footer {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100vw;
    min-height: 5vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.link {
    color: white;
    text-decoration: underline;

    transition: color 200ms ease-in-out;

    &:hover, &:focus {
        color: gold;
    }
}